.event-odd-container {
    background: #ffffff;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:row;
    position:relative;
    justify-content: flex-start;
}

.event-odd-image {
    width:100%;
    max-width:100%;
    height:auto;
    margin-top:5em;
    box-shadow: 8px 10px 3px 2px #7bf8b7, 20px 20px 3px 0px #b5fbd7;
}
.event-odd-image-container {
    width:50%;
    padding:5em;
    position:relative;
}
.event-odd-tag-container {
    height:30vh;
    width:30vw;
    position:absolute;
    top:-5em;
    right:5em;
    background: #fff;
    z-index:2;
    color:#999;
}

.event-odd-text-container {
    display:flex;
    height:100%;
    width:50%;
    justify-content: flex-start;
    margin-top:10em;
    flex-direction:column;
    text-align:center;
    align-items:center;
}

.event-odd-text-container h2 {
    font-weight:400;
    font-size:x-large;
    color:#666;
    font-family:"Morebi Rounded", Times,serif;
}

.event-odd-text-container p {
    width:75%;
    text-align:center;
    color:#777;
    font-size:large;
    font-family:"Morebi Rounded", Times,serif;
}

@media screen and (max-width: 550px){
    .event-odd-container {
        flex-direction:column;
    }
    .event-odd-image-container {
        width:100%;
        justify-content: center;
        align-items:center;
        padding:0;
        order:0;
    }
    .event-odd-image {
        width:80%;
        max-width:100%;
        height:auto;
        margin-top:5em;
        box-shadow: 8px 10px 3px 2px #7bf8b7, 20px 20px 3px 0px #b5fbd7;

    }
    .event-odd-text-container {
        width:100%;
        margin-top:0;
        justify-content: center;
        align-items:center;
        order:1;
    }
    .event-odd-text-container p {
        width:80%;
    }
}
