.subscribe-button {
    background: #7df9b9;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 1em;
}

.subscribe-button:hover {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform:rotate(5deg);
    }
    75% {
        transform:rotate(-5deg);
    }
    100% {
        transform:rotate(5deg);
    }
}